.jumbotron {
  background-image: -webkit-linear-gradient(left, #E86124 0%, #F89B3B 100%);
	background-image: -o-linear-gradient(left, #E86124 0%, #F89B3B 100%);
	background-image: linear-gradient(to right, #E86124 0%, #F89B3B 100%);
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  color: white;
  background: #696BAE;
  border-color: #696BAE;
}
.jumbotron .btn-primary:hover {
  background: #696BAE;
}
.jumbotron p {
  color: white;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .nmlogo {
  display: block;
  background-image: -webkit-linear-gradient(left, #E86124 0%, #F89B3B 100%);
	background-image: -o-linear-gradient(left, #E86124 0%, #F89B3B 100%);
	background-image: linear-gradient(to right, #E86124 0%, #F89B3B 100%);
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .nmlogo img {
  max-width: 100%;
}
