{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="nmlogo">
      <img src="/images/nmlogo.png">
    </a>
    <h1>NexMove</h1>
    <p>Airport navigation just got WAY easier</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.apple.com/ios/app-store/"><span class="glyphicon glyphicon-apple"></span> Download on App Store</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/calsupik/nexmove"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the code of the platform, head over to the <a href="https://github.com/calsupik/nexmove" class="alert-link">GitHub repo</a>.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>First, a user downloads the app from the iOS App Store.</li>
        <li>Once the user has the mobile app installed on their phone, they can open it anytime they are in an airport.</li>
        <li>The app will track the users location (when the app is either in the foreground OR in the background) and will notify them of any nearby locations, of which are defined by the admins of the app.</li>
        <li>If the user recieves a notification when they enter into any of the locations 'zones', they can click on the notifications and be redirected back into the app to receive more details.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next steps</h3>
      <ul>
        <li>We are planning on rolling out many more enhancements to this app.</li>
        <li>Some potential future enhancements:</li>
        <ul>
          <li>Insightful navigation based on locations that may cause delays.</li>
          <li>Integrations with 3rd party apps to recieve feedback and metrics based on helpfulness.</li>
          <li>Partnerships alongside of ATL Rewards, car rental companys, rideshare apps and more.</li>
          <li>Plus more to come!!</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
